<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>52629236038-enuiqmveuhivoalmfjh4t26h9qd7d6mg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52629236038-enuiqmveuhivoalmfjh4t26h9qd7d6mg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>52629236038-qhdrta700gbtj0tf1uogtpfu33tqul4f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCU4QTpDoWOj8Grn0yHbUoHGaeZKpy-tR4</string>
	<key>GCM_SENDER_ID</key>
	<string>52629236038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoping</string>
	<key>PROJECT_ID</key>
	<string>shoping-5a522</string>
	<key>STORAGE_BUCKET</key>
	<string>shoping-5a522.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52629236038:ios:ecf5d798b1620e22891d47</string>
</dict>
</plist>